.boarderContainer{
    width: 100%;
}
.antTable{
    margin:30px auto;
}
.table-row-light {
    background-color: #fafafa;
}
.table-row-dark {
    background-color: #eee;
}

.addDataButton{
    margin:30px auto;
}

.formikContainer{
    width: 60% !important;
    margin: 10px auto;
    margin-bottom: 50px !important;
}

.addRow{
    position: relative;
    width: 50% !important;
    left:43.5% !important;
}

#floor{
    position: relative;
    left:5%;
}